@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.label-sign{
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
}

.col-input{
    background-color: white;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.103);
    align-items: center;
    border: 2px solid;
    font-size: 1rem;
    width: 100%;
    height: 2.5em;
    justify-content: flex-start;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(1em - 1px);
    padding-right: calc(1em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

.col-input:hover{
    color: rgb(0, 0, 0);
}

.col-2{
    display: grid;
    grid-template-columns: 60% 40%;
}

.col-2-search{
    display: grid;
    grid-template-columns: 75% 20%;
    column-gap: 9px;
}

.col-3{
    display: grid;
    grid-template-columns: 30% 60% 10%;
    column-gap: 5px;
}

.text-long-range-top{
    margin-top: 75px;
}

.text-center{
    text-align: center;
}

.text-smaller{
    font-size: smaller;
}

.btn-input{
    background-color: #FDCB00;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
}

.btn-input:hover{
    cursor: pointer;
}

.btn-list{
    background-color: #ffffff;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    width: 2.5em;
    line-height: 1.5;
    border-radius: 20px;
}

.btn-list-klausa{
    background-color: #FDCB00;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 7em;
    line-height: 1.5;
    border-radius: 20px;
    font-weight: bold;
}

.btn-klausa{
    top: 0;
    margin-top: 0;
    margin-left: 11px;
    margin-bottom: 71px;
}

.btn-list-klausa-describe{
    background-color: white transparent;
    width: 71%;
}

.label-klausa{
    font-size: medium;
    margin-bottom: 7px;
}

.btn-fullwidth{
    width: 100%;
}

.btn-max-content{
    max-width: max-content;
}

.btn-primary{
    --bs-btn-color: none;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}

.col-textarea{
    background-color: white;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.103);
    align-items: center;
    border: 2px solid;
    font-size: 1rem;
    width: 100%;
    height: 7em;
    justify-content: flex-start;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(1em - 1px);
    padding-right: calc(1em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

.col-textarea:hover{
    color: rgb(0, 0, 0);
}

.text-bottom{
    margin-bottom: 0;
    margin-top: 200px;
}

.text-bold{
    font-weight: bold;
}

.big-img{
    width: 175px;
}

.box{
    padding: 13px;
}

.icon-key{
    font-size: 129px;
    transform: rotate(13deg);
    text-align: center;
    margin: 0;
    padding: 0;
}

hr{
    background-color: #FDCB00;
}

.p-modal{
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 33%;
}

.mx-7{
    margin-left: 7px;
    margin-right: 7px;
}

.modal-backdrop, .fade, .show{
    opacity: none;
    z-index: 1;
} 

.col-4, .col-5{
    padding: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
}

.carousel-caption{
    color:rgb(0, 0, 0);
    margin: 0;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: x-small;
}

.carousel-indicators{
    bottom: -13px;
    margin: 0;
}

.dropdown-toggle-split{
    padding-left: 21px;
    padding-top: 0px;
    padding-bottom: 0;
}

.dropdown-item{
    height: 44px;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.text-log{
    color: #FDCB00;
}

.box-color{
    height: 225px;
    border-radius: 15px;
    background-color: #FDCB00;
}

.box-desc{
    max-width: 300px;
    min-height: 99px;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 3px;
    padding-bottom: 3px;
}
